<div class="book">
    <a href="{{link}}" tabindex="-1">
        <img class="cover" src="{{cover}}" width="125" height="162" alt="{{title}}" />
    </a>

    <span id="fb-{{id}}-title" class="small-header title">
        <a href="{{link}}">
            {{title}}
        </a>
    </span>

    <p class="description">{{description}}</p>

    <div class="read-more">
        <a href="{{link}}" aria-labelledby="fb-{{id}}-title">
            Read More
        </a>
    </div>
</div>
